<h1>Lista ankiet</h1>

<%= link_to 'Dodaj nową ankietę', new_survey_path %>

<turbo-frame id="survey-list" data-controller="survey">
  <%= render partial: 'survey_list', locals: { surveys: @surveys } %>
</turbo-frame>

<div data-controller="survey">
  <%= button_tag "Odśwież listę", type: "button", data: { action: "survey#refresh" }, class: "button" %>
</div>
